[video-player]
command = 'C:\Program Files\VideoLAN\VLC\vlc.exe'
args = [
    "--qt-minimal-view", "--no-qt-video-autoresize",
    "--key-faster=ctrl+f", "--key-rate-normal=ctrl+n",
    "--file-caching=1000", "--live-caching=1000",
    "--disc-caching=1000", "--network-caching=1000",
    "--meta-title=VLC-Twitch-{channel_name}",
    "-",
]
window_title_hint = "VLC-Twitch-"

[chat-renderer]
command = 'C:\Program Files (x86)\Google\Chrome\Application\chrome.exe'
args = [
    "--app=https://www.twitch.tv/popout/{channel_name}/chat?popout="
]
window_title_hint = "Twitch"

[keybinds]
fullscreen = "F11"
chat_toggle_left = "Ctrl+Left"
chat_toggle_right = "Ctrl+Right"
change_channel = "Ctrl+O"
